h1 {
    text-align: center;
    color: aliceblue;
    font-size: 50px;
}

header {
    background-image: linear-gradient(to left, #200A49, #3663B7);
}

#search-form {
    background-image: linear-gradient(to left, #3663B7, #5397E1);
    color: white;  
    transition: transform 0.3s;  
}

#search-form:hover {
    transform: scale(0.98);
}

#forecast .forecast-card {
    background-color: #3E546B;
    color: white;
}

  


    


